<template name="ShoppingList">
    <h1 class="page-title">My Shopping List</h1>
    <ul class="shopping-list">
        {{#each shoppingList}}
            {{#each ingredients}}
                <li>{{name}} - <span class="amount">{{amount}}</span></li>
            {{/each}}
        {{else}}
            <li>
                <h3>Please add <a href="/recipe-book">recipes</a> to your menu</h3>
            </li>
        {{/each}}
    </ul>
</template>