<template name="HomeLayout">
    <header>
        <h1>My Receipe Book</h1>
        {{> loginButtons}}
    </header>
    <main>
        <div class="billboard">
            <h2>Organize Your Meals</h2>
        </div>
    </main>
</template>